<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Coding Depot{% endblock %}</title>
        {% block stylesheets %}

            {# {% stylesheets '@AppBundle/Resources/public/template/css/*' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %} #}

            {% stylesheets 
                'bundles/app/bootstrap/css/bootstrap.css'
                'bundles/app/css/mainc.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}


        {% endblock %}
        {% block analytics %}

        <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TX6PCJ"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start':
                        new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TX6PCJ');</script>
    <!-- End Google Tag Manager -->

{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            {% include 'AppBundle:layout:header.html.twig' %}
        {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
        {% include 'AppBundle:layout:footer.html.twig' %}
    {% endblock %}
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
        {% javascripts '@AppBundle/Resources/public/bootstrap/js/bootstrap.js'
            '@AppBundle/Resources/public/bootstrap/js/bootstrap.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %} 

        {% javascripts 
            '@AppBundle/Resources/public/js/jquery.form.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts 
                        '@AppBundle/Resources/public/template/js/footer/device.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts 
                        '@AppBundle/Resources/public/template/js/footer/script.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts 
                        '@AppBundle/Resources/public/template/js/footer/superfish.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts 
                        '@AppBundle/Resources/public/template/js/footer/bootstrap.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts 
                        '@AppBundle/Resources/public/template/js/footer/jquery.mobilemenu.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts 
                        '@AppBundle/Resources/public/template/js/footer/tmstickup.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts 
                        '@AppBundle/Resources/public/template/js/footer/custom-script.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts 
                        '@AppBundle/Resources/public/template/js/footer/parallaxSlider.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        {% javascripts 
                        '@AppBundle/Resources/public/js/jquery-ui.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts 
                        '@AppBundle/Resources/public/js/main.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts 
                        '@AppBundle/Resources/public/template/js/footer/owl.carousel.min.js'
        %}

        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts 
            '@AppBundle/Resources/public/js/conekta.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts 
            '@AppBundle/Resources/public/js/jquery.validate.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/121761/card.js"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/121761/jquery.card.js"></script>
    {% endblock %}
</body>
</html>
