{% extends 'base.html.twig' %}
{% block body %}
    <div id="parallax-slider-58e771280f371" class="parallax-slider"><ul class="baseList"><li></div>    
                {% image '@AppBundle/Resources/public/img/prod-default.png' %}
                {% set img_default = asset_url %}
                {% endimage %}

                {% javascripts '@AppBundle/Resources/public/template/js/custom-home.js' %}
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
                </head>
            <body class="single single-product postid-1958 woocommerce woocommerce-page has_woocommerce has_shop olrk-live-chat">
                <div id="" class="main-holder">
                    <div class="motopress-wrapper content-holder clearfix woocommerce">
                        <div class="container">
                            <div class="row">
                                <div class="span12" data-motopress-type="static">
                                    <section class="title-section"></section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span12" id="content" style="padding-top: 0 !important;">
                                    <div itemscope id="product-1958" class="post-1958 product type-product status-publish has-post-thumbnail product_cat-cpus product_cat-motherboards product_tag-branding product_tag-consulting product_tag-customer-service product_tag-ethics shipping-taxable purchasable product-type-simple product-cat-cpus product-cat-motherboards product-tag-branding product-tag-consulting product-tag-customer-service product-tag-ethics instock">
 <div><center>{{error.codigo_error}}</center></div>
                                        <div class="col-md-8 col-md-offset-2 form-container-js">
                                             <div class="body-text">
                                                  <form action="{{path('payment')}}" method="POST" id="card-form" class="validate-form">
                                                    <input type="hidden" name="item-price" value="{{item.price}}" />
                                                    <input type="hidden" name="item-name" value="{{item.name}}" />
                                                    <input type="hidden" name="item-currency" value="{{item.code}}" />
                                                    <input type="hidden" name="tipoPago" value="{{tipoPago}}" />
                                                    <input type="hidden" name="gclid" value="{{gclid}}" />
                                                    <div class="form-container">
                                                      <div class="personal-information">
                                                        <h1>{% trans %}Finalizar Compra{% endtrans %}</h1>
                                                      </div>
                                                      <div class="col-md-12 deep">
                                                            <h2>{% trans %}Orden Total{% endtrans %}</h2>
                                                            <table class="table">
                                                                <tr>
                                                                    <th colspan="2">{% trans %}PRODUCTO{% endtrans %}</th>
                                                                    <th>{% trans %}CANTIDAD{% endtrans %}</th>
                                                                    <th>{% trans %}SUBTOTAL{% endtrans %}</th>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">{{item.name}}</td>
                                                                    <td>1</td>
                                                                    <td>{{item.price}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" class="text-center">{% trans %}Subtotal{% endtrans %}</td>
                                                                    <td>{{item.price}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" class="text-center">{% trans %}Envío{% endtrans %}</td>
                                                                    <td>0</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" class="text-center"><strong>{% trans %}TOTAL:{% endtrans %}</strong></td>
                                                                    <td><strong>{{item.priceFormated}}</strong></td>
                                                                </tr>
                                                            </table>
                                                            <span style="color: red;" class="card-errors"></span>
                                                        </div>

                                                        {% if tipoPago == "oxxo" %} 
                                                          <p style="color: #000;">{% trans %}Importante: Escribe el correo electrónico y el celular a donde quieres recibir la localización.{% endtrans %} <label class="fa fa-lock" style="color: #1D9D73;"></label> </p>
                                                         {% endif %}
                                                      
                                                      <input class="input-field" type="email" data-rule-required="true" placeholder="{% trans %}Correo electrónico{% endtrans %}" data-msg-required="Porfavor, llene este campo" data-msg-email="Porfavor, ingrese una dirección de email válido" data-rule-email="true"  name="user-mail" />
                                                      
                                                      <input class="input-field" placeholder="{% trans %}Número telefónico{% endtrans %}" type="text"  data-rule-required="true" data-msg-required="Porfavor, llene este campo" data-rule-rangelength="12,14" data-msg-rangelength="Pofavor, ingrese un número telefónico válido con clave lada (Ejemplo: MEX +52 , USA: +1)" name="user-phone" required="required" />
                                                    
                                                        {% if tipoPago == "tarjeta" %} 
                                                        <div class="card-wrapper"></div>
                                                                                                                 
                                                          <input class="input-field" placeholder="{% trans %}Nombre del tarjetahabiente{% endtrans %}" type="text" size="20" name="card-name" data-conekta="card[name]"/>
                                                          
                                                          <input class="input-field" placeholder="{% trans %}Número de la tarjeta{% endtrans %}" type="text" size="20" id="number" data-conekta="card[number]"/>
                                                          
                                                          <input class="column-3 ml-0" placeholder="MM" id="month" type="text" size="2" data-conekta="card[exp_month]"/>

                                                          <input class="column-3" id="year"  placeholder=" YY" type="text" size="4" data-conekta="card[exp_year]"/>
                                                          
                                                          <input class="column-3" type="text" id="ccv" size="4" placeholder="CVC" data-conekta="card[cvc]"/>

                                                          {% endif %}
                                                                                                                  
                                                         {% if tipoPago == "tarjeta" %} 

                                                           <input id="input-button" class="btn-conekta" type="submit" value="{% trans %}¡Pagar ahora!{% endtrans %}"/>

                                                          <p style="color: #000;">{% trans %}Tu pago será procesado por{% endtrans %}  <label class="logo-conekta"></label>{% trans %}, pagos seguros a través de internet. La conexión está protegida todo el tiempo a través de SSL. Verifica siempre que el sitio tenga éste símbolo:{% endtrans %} <label class="fa fa-lock" style="color: #1D9D73;"></label> </p>
                                                         {% endif %}

                                                         {% if tipoPago == "oxxo" %}

                                                         <input id="input-button" class="btn-conekta" type="submit" value="{% trans %}Generar ficha de pago...{% endtrans %}"/>

                                                          <p style="color: #000;">{% trans %}Tu mapa está listo, la ubicación solo se guardará por 24 horas. Paga a través de{% endtrans %} <img src='https://www.coding-depot.com/oxxopay_brand.png' height="32" width="97" />{% trans %} en cualquier sucursal de Oxxo en el periodo de tiempo indicado (24 horas). Inmediatamente recibirás el mapa a tu correo y número de celular.{% endtrans %} <label class="fa fa-lock" style="color: #1D9D73;"></label> </p>
                                                         {% endif %}



                                                  </form>
                                                  <div class="loading-c">
                                                        <div class="spinner">
                                                            <div class="rect1"></div>
                                                            <div class="rect2"></div>
                                                            <div class="rect3"></div>
                                                            <div class="rect4"></div>
                                                            <div class="rect5"></div>
                                                        </div>
                                                        <p class="text-wait">{% trans %}Estamos procesando el pago, por favor espere...{% endtrans %}</p>
                                                    </div>
                                            </div>
                                        </div>


                                                {# CONEKTA #}

                                            {# <div class="col-md-12 form-coneckta-c m-b-5">
                                                <h1 class="text-center">Finalizar Compra</h1>
                                                <form action="{{path('payment')}}" method="POST" id="card-form" class="validate-form">
                                                  
                                                  <input type="hidden" name="item-price" value="{{item.price}}" />
                                                  <input type="hidden" name="item-name" value="{{item.name}}" />

                                                  <div class="col-md-6">
                                                        <div class="form-row">
                                                            <label>
                                                              <span>Correo electrónico</span>
                                                              <input type="email" data-rule-required="true" data-msg-required="Porfavor, llene este campo" data-msg-email="Porfavor, ingrese una dirección de email válido" data-rule-email="true"  name="user-mail" />
                                                            </label>
                                                        </div>
                                                        <div class="form-row">
                                                            <label>
                                                              <span>Número telefónico</span>  
                                                              <input type="text"  data-rule-required="true" data-msg-required="Porfavor, llene este campo" data-rule-rangelength="12,14" data-msg-rangelength="Pofavor, ingrese un número telefónico válido con clave lada (Ejemplo: MEX +52 , USA: +1)" name="user-phone" required="required" />
                                                            </label>
                                                        </div>
                                                  </div>

                                                  <div class="col-md-6">
                                                    <div class="form-row">
                                                        <span style="color: red;" class="card-errors"></span>
                                                    </div>
                                                    <div class="form-row">
                                                        <label>
                                                          <span>Nombre del tarjetahabiente</span>
                                                          <input type="text" size="20" name="card-name" data-conekta="card[name]"/>
                                                        </label>
                                                    </div>
                                                    <div class="form-row">
                                                        <label>
                                                          <span>Número de tarjeta de crédito</span>
                                                          <input type="text" size="20" data-conekta="card[number]"/>
                                                        </label>
                                                    </div>
                                                    <div class="form-row">
                                                        <label>
                                                          <span>CVC</span>
                                                          <input type="text" size="4" data-conekta="card[cvc]"/>
                                                        </label>
                                                    </div>
                                                    <div class="form-row">
                                                        <label>
                                                          <span>Fecha de expiración</span>
                                                          <span>(MM)</span>
                                                          <input type="text" size="2" data-conekta="card[exp_month]"/>
                                                        </label>
                                                        <span>(AAAA)</span>
                                                        <input type="text" size="4" data-conekta="card[exp_year]"/>
                                                    </div>


                                                        <div class="col-md-12">
                                                            <h2>Orden Total</h2>
                                                            <table class="table">
                                                                <tr>
                                                                    <th colspan="2">PRODUCTO</th>
                                                                    <th>CANTIDAD</th>
                                                                    <th>SUBTOTAL</th>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">{{item.name}}</td>
                                                                    <td>1</td>
                                                                    <td>{{item.price}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" class="text-center">Subtotal</td>
                                                                    <td>{{item.price}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" class="text-center">Envio</td>
                                                                    <td>0</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" class="text-center"><strong>TOTAL:</strong></td>
                                                                    <td><strong>{{item.price}}</strong></td>
                                                                </tr>
                                                            </table>
                                                        </div>


                                                  </div>
                                                  
                                                  
                                                  <div class="col-md-12 m-t-5 text-center">

                                                    <button type="submit" class="btn-primary btn-conekta">¡Pagar ahora!</button>
                                                  </div>
                                                    <div class="loading-c">
                                                        <div class="spinner">
                                                            <div class="rect1"></div>
                                                            <div class="rect2"></div>
                                                            <div class="rect3"></div>
                                                            <div class="rect4"></div>
                                                            <div class="rect5"></div>
                                                        </div>
                                                        <p class="text-wait">Estamos procesando el pago, por favor espere...</p>
                                                    </div>
                                                </form>
                                            </div> #}

                                            <div class="clear"></div>
                                        
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# FIN DEL BODY #}
                    {% endblock %}
                    {% block footer %}
                        {% if item.featured == false %}
                             {% include 'AppBundle:layout:footer2.html.twig' %}
                        {% else %}
                            {{parent()}}
                        {% endif %}

                    {% endblock %}
                    {% block header %}
                        {% if item.featured == false %}
                            {% include 'AppBundle:layout:header2.html.twig' %}
                        {% else %}
                            {{parent()}}
                        {% endif %}
                    {% endblock %}

                    {% block title %}
                        {% if item.featured == false %}
                            Geopositioning Services
                        {% else %}
                            {{parent()}}
                        {% endif %}
                    {% endblock %}