<!DOCTYPE html>

{% include 'AppBundle:layout:header.html.twig' %}

<style type="text/css">
.parallax-slider #mainCaptionHolder .slider_caption .subtitle-wrapper{
    width: 40% !important;
}

.parallax-slider .parallaxNextBtn .icon-angle-right::before{
    content: '>';
    font-family: inherit;
    font-size: 30px;
    line-height: 40px;
}

.parallax-slider .parallaxPrevBtn .icon-angle-left::before{
    content: '<';
    font-family: inherit;
    font-size: 30px;
    line-height: 40px;
}

.featured_products .featured_products_wrap_inner .owl-theme .owl-controls .owl-buttons .owl-next::after{
    font-family: initial !important;
    content: '>' !important;
}

.featured_products .featured_products_wrap_inner .owl-theme .owl-controls .owl-buttons .owl-prev::after{
    font-family: initial !important;
    content: '<' !important;
}

.banner_text_home .banner_text_home_wrap_inner .banner-wrap h5{
    left: 10px !important;
    font-size: 25px !important;
}

</style>

<div id="parallax-slider-58e771280f371" class="parallax-slider"><ul class="baseList"><li data-preview="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/12/slide_01.png" data-thumb-url="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/12/slide_01-100x50.png" data-ulr-link=""><div class="slider_caption"><h2>Mac</h2>
<div class="subtitle-wrapper">
<h3>{% trans %}Rendimiento y diseño{% endtrans %}</h3>
</div>
<a href="#" class="slider-button">{% trans %}Compra ahora!{% endtrans %}</a></div></li><li data-preview="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/12/slide_02.png" data-thumb-url="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/12/slide_02-100x50.png" data-ulr-link=""><div class="slider_caption"><h2>Mac Mini</h2>
<div class="subtitle-wrapper">
<h3>{% trans %}Las Mac se diferencian de Windows porque corren sobre el sistema operativo propio de Apple{% endtrans %}</h3>
</div>
<a href="#" class="slider-button">{% trans %}Compra ahora!{% endtrans %}</a></div></li><li data-preview="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/12/slide_03.png" data-thumb-url="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/12/slide_03-100x50.png" data-ulr-link=""><div class="slider_caption"><h2>MacBook Air</h2>
<div class="subtitle-wrapper">
<h3>{% trans %}Nueva quinta generación de Intel{% endtrans %}</h3>
</div>
<a href="#" class="slider-button">{% trans %}Compra ahora!{% endtrans %}</a></div></li></ul></div>
<div class="motopress-wrapper content-holder clearfix">
<div class="container">
<div class="row">
<div class="span12" data-motopress-wrapper-file="page-home.php" data-motopress-wrapper-type="content">
<div class="row">
<div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-slider.php">
<div class="slider_off"> </div>
</div>
</div>
<div class="row">
<div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
<div id="post-203" class="page post-203 type-page status-publish hentry">
<div class="banner_text_home"><div class="banner_text_home_wrap_inner">
<div class="content_box custom_home_banner_content ">
<div class="row ">

{% for category in cat %}
    {# <h1>{{category.name}}</h1>
    <h2><img src="{{category.cover|vlabs_media('default')}}"></h2> #}

<div class="span3 ">
    <section class="lazy-load-box " data-delay="200" data-speed="800" style="-webkit-transition: all 800ms ease; -moz-transition: all 800ms ease; -ms-transition: all 800ms ease; -o-transition: all 800ms ease; transition: all 800ms ease;">
        <a href="{{path('categoria',{'slug':category.slug})}}" title="{{category.name}}" class="banner-wrap ">
            <figure class="featured-thumbnail">
                <img src="{{category.cover|vlabs_media('default')}}" title="{{category.name}}" alt=""/>
            </figure>
            <h5>{{category.name}}</h5>
            <div class="link-align banner-btn">{% trans %}Compra ahora!{% endtrans %}</div>
        </a> 
    </section>
</div>
{% endfor %}



</div> 
<div class="clear"></div></div> 
<div class="content_box home_text ">

</div> 
</div></div>
<div class="featured_products"><div class="featured_products_wrap_inner">
<div class="row ">
<div class="span12 "><h2>{% trans %}Productos Destacados{% endtrans %}</h2>
    {# INICIO DE SLIDE DE PRODUCTOS #}
<div class="woocommerce">
<div class="cherry_wc_product_carousel " data-params='{"items":4, "itemsDesktop":[1199,4], "itemsDesktopSmall":[979,3], "itemsTablet":[768,2], "itemsMobile":[479,1], "navigation":true, "navigationText":["",""], "pagination":false}'>

    <ul class="products owl-carousel">
{% for item in prod %}
    <li class="first post-1958 product type-product status-publish has-post-thumbnail product_cat-cpus product_cat-motherboards product_tag-branding product_tag-consulting product_tag-customer-service product_tag-ethics shipping-taxable purchasable product-type-simple product-cat-cpus product-cat-motherboards product-tag-branding product-tag-consulting product-tag-customer-service product-tag-ethics instock">

        <a href="{{path('producto',{'slug':item.slug})}}">
        <div class="cherry-thumb-wrap">
            <div style="background-image: url({{item.image|vlabs_media('default')}});width: 300px; height: 300px; background-repeat: no-repeat; background-size: contain; background-position: center center;">
            </div>
        </div>
        <h3>{{item.name}}</h3>

        <span class="price"><span class="amount">&#36;{{item.price}}</span></span>

        </a>
        <a href="" rel="nofollow" data-product_id="1958" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">{% trans %}Compra ahora!{% endtrans %}</a><div class="product-list-buttons">

        <div class="clear"></div></div>
    </li>
{% endfor %}


    {# FIN CARRUSEL ITEMS #}

</ul></div>
</div></div>
</div> 
</div></div>
<div class="home_text_number"><div class="home_text_number_wrap_inner">
<div class="row ">
<div class="span4 "><h3>14,500</h3>
<p>{% trans %}Productos disponibles{% endtrans %}</p></div>
<div class="span4 "><h3>89,789</h3>
<p>{% trans %}Miembros del sitio{% endtrans %}</p></div>
<div class="span4 "><div class="content_box text_number_header ">
<h3>75%</h3>
<div class="clear"></div></div> 
<p>{% trans %}Clientes vuelven{% endtrans %}</p></div>
</div> 
</div></div>

<div class="clear"></div>
 
</div> 
</div>
</div>
</div>
</div>
</div>
</div>

{% include 'AppBundle:layout:footer.html.twig' %}

</html>