{% extends 'base.html.twig' %}

{% block body %}
    <div id="parallax-slider-58e771280f371" class="parallax-slider"><ul class="baseList"><li></div>
            <body class="single single-product postid-1958 woocommerce woocommerce-page has_woocommerce has_shop olrk-live-chat">
                <div id="" class="main-holder">
                    <div class="motopress-wrapper content-holder clearfix woocommerce">
                        <div class="container">
                            <h1 class="text-center">{% trans %}¡Gracias por tu compra!{% endtrans %}</h1>
                            <div class="col-md-6 col-md-offset-3 text-center">
                                {% if item.featured == true %}
                                    {% image '@AppBundle/Resources/public/img/prod-default.png' %}
                                    <div style="background-image: url({{ asset_url }});width: 300px; height: 300px; background-repeat: no-repeat; background-size: 100%; background-position: center center;margin: auto;"></div>
                                    {% endimage %}
                                    <div style="width: auto;position: absolute;top: 0;left: 55%;">
                                        <div style="background-image: url({{item.category.cover|vlabs_media('default')}});width:100px;height:100px;background-size: contain;background-repeat: no-repeat;"></div>
                                    </div>
                                {% else %}
                                    {% image '@AppBundle/Resources/public/img/preview.jpg' %}
                                    <div style="background-image: url({{ asset_url }});width: 300px; height: 300px; background-repeat: no-repeat; background-size: 100%; background-position: center center;margin: auto;"></div>
                                    {% endimage %}
                                {% endif %}
                                <h1 class="text-center">{{item.name}}</h1>
                            </div>
                            <div class="clearfix"></div>
                            {% if item.archivo != null and item.featured == true %}
                                <div class="col-md-12 text-center" style="margin-bottom: 5%;">
                                    <p class="tex-center">Descarga tus archivos:</p>
                                    <a href="{{item.archivo|vlabs_media('default')}}" download=""><button>DESCARGAR</button></a>
                                    <p class="text-center">Cualquier pregunta sobre tu producto no dudes en escribir a support@coding-depot.com</p>
                                </div>
                            {% endif %}
                            {% if item.featured == false %}
                                <script type="text/javascript">
                                    // Handler for .ready() called.
                                    window.setTimeout(function () {
                                        location.href = "{{redirect_url|replace({'{language}':item.locale})}}";
                                    }, 3000);
                                </script>
                            {% endif %}
                        </div>
                    {% endblock %}
                    {% block footer %}
                        {% if item.featured == false %}
                            {% include 'AppBundle:layout:footer2.html.twig' %}
                        {% else %}
                            {{parent()}}
                        {% endif %}

                    {% endblock %}
                    {% block header %}
                        {% if item.featured == false %}
                            {% include 'AppBundle:layout:header2.html.twig' %}
                        {% else %}
                            {{parent()}}
                        {% endif %}
                    {% endblock %}

                    {% block title %}
                        {% if item.featured == false %}
                            Geopositioning Services
                        {% else %}
                            {{parent()}}
                        {% endif %}
                    {% endblock %}