{% extends 'base.html.twig' %}
{% block body %}

    <div id="parallax-slider-58e771280f371" class="parallax-slider"><ul class="baseList"><li></div>    
                {% image '@AppBundle/Resources/public/img/prod-default.png' %}
                {% set img_default = asset_url %}
                {% endimage %}

                {% javascripts '@AppBundle/Resources/public/template/js/custom-home.js' %}
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
                </head>
          
            <body class="single single-product postid-1958 woocommerce woocommerce-page has_woocommerce has_shop olrk-live-chat">


                <div id="" class="main-holder">
                    <div class="motopress-wrapper content-holder clearfix woocommerce">
                        <div class="container">
                            <div class="row">
                                <div class="span12" data-motopress-type="static">
                                    <section class="title-section"></section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span12" id="content" style="padding-top: 0 !important;">
    <div itemscope id="product-1958" class="post-1958 product type-product status-publish has-post-thumbnail product_cat-cpus product_cat-motherboards product_tag-branding product_tag-consulting product_tag-customer-service product_tag-ethics shipping-taxable purchasable product-type-simple product-cat-cpus product-cat-motherboards product-tag-branding product-tag-consulting product-tag-customer-service product-tag-ethics instock">
                                        
                                        
                                        <div><center>{{error.codigo_error}}</center></div>
                                                                                
                                        <div class="product-images">
                                         
                                            <div class="product-large-image">
                            
                                           
                                                {% if item.featured == false %}
                                                    {% image '@AppBundle/Resources/public/img/preview.jpg' %}
                                                    <div class="p-item-img" style="background-image: url({{ asset_url }});">
                                                    {% trans %}Tu mapa está listo.{% endtrans %}
                                                     
                                                    </div>
                                                    {% endimage %}
                                                {%else %}
                                                    <div class="p-item-img" style="background-image: url({{ img_default }});"></div>
                                                {%endif %}
                                            </div>
                                            {% if item.featured == true %}
                                            <div class="p-cat-c">
                                                <div style="background-image: url({{item.category.cover|vlabs_media('default')}});width:100px;height:100px;background-size: contain;background-repeat: no-repeat;"></div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="summary entry-summary">
                                            <h1 itemprop="name" class="product_title entry-title">{{item.name}}</h1>
                                            <div itemprop="offers">
                                                <p class="price">
                                                    <span class="amount">{{item.priceFormated}}</span>
                                                </p>
                                                </div>
                                                <br>
                                         

                                            {% if item.paymentType == "paypal" and item.locale == "es" %} 
                                                {# PAYPAL ESPAÑOL #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download ES"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                            {% elseif item.paymentType == "paypal" and item.locale == "en" and param1 == "world" %}
                                            {# PAYPAL ENGLISH #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download US"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                            {% elseif item.paymentType == "paypal" and item.locale == "en" %}
                                            {# PAYPAL ENGLISH #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download EN"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                            {% elseif item.paymentType == "paypal" and item.locale == "pt" %}
                                            {# PAYPAL PORTUGUESE #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download PT"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                              {% elseif item.paymentType == "paypal" and item.locale == "de" %}
                                            {# PAYPAL DEUTSCH #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download DE"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                              {% elseif item.paymentType == "paypal" and item.locale == "fr" %}
                                            {# PAYPAL FRENCH #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download FR"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                            {% elseif item.paymentType == "paypal" and item.locale == "ar" %}
                                            {# PAYPAL ARAB #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download AR"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                              {% elseif item.paymentType == "paypal" and item.locale == "nl" %}
                                            {# PAYPAL NETHERLANDS #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download NL"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                            {% elseif item.paymentType == "paypal" and item.locale == "uk" %}
                                            {# PAYPAL UNITED KINGDOM #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download UK"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                               {% elseif item.paymentType == "paypal" and item.locale == "it" %}
                                            {# PAYPAL ITALIA #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download It"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                            {% elseif item.paymentType == "paypal" and item.locale == "eu" %}
                                            {# PAYPAL EUROPE #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download EU"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                            {% elseif item.paymentType == "paypal" and item.locale == "asia" %}
                                            {# PAYPAL ASIA #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download A"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                            {% elseif item.paymentType == "paypal" and item.locale == "ru" %}
                                            {# PAYPAL RUSIA #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download RU"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                              <form action="https://www.coinpayments.net/index.php" method="post">
	<input type="hidden" name="cmd" value="_pay_simple">
	<input type="hidden" name="reset" value="1">
	<input type="hidden" name="merchant" value="75b2c556964799d89110a8e3b848f6a2">
	<input type="hidden" name="item_name" value="Location Services">
	<input type="hidden" name="item_desc" value="Map Ready">
	<input type="hidden" name="item_number" value="DE">
	<input type="hidden" name="currency" value="USD">
	<input type="hidden" name="amountf" value="19.00000000">
	<input type="hidden" name="want_shipping" value="0">
	<input type="hidden" name="success_url" value="https://coding-depot.dev/es/output-sucess">
	<input type="hidden" name="cancel_url" value="https://coding-depot.dev/es">
	<input type="image" src="https://www.coinpayments.net/images/pub/buynow-wide-blue.png" alt="Comprar ahora con CoinPayments.net">
</form>

                                            {% elseif item.paymentType == "paypal" and item.locale == "in" %}
                                            {# PAYPAL INDIA #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download IN"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                            {% elseif item.paymentType == "paypal" and item.locale == "es_MX" %}
                                            {# PAYPAL MEXICO #}

                                             <div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download MX"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                                                                            
                                            </div>

                                                
                                            {% elseif item.paymentType == "conekta" and item.locale == "es_mx" %} 

                                                    <p>{% trans %}Elige una forma de pago:{% endtrans %}</p>

                                           
                                                    <form action="{{path('resumen')}}" method="POST">
                                                        <input type="hidden" name="itemId" value="{{item.id}}">
                                                        <input type="hidden" name="tipoPago" value="tarjeta">
                                                        <button type="submit" class="btn-primary">{% trans %}Pagar Ahora{% endtrans %}</button>
                                                        <img src='https://www.softwarehomework.com/images/marcas.png' height="32" width="97" />
                                                    <br>
                                                        {% trans %}Paga con tarjeta de débito o crédito con Visa, Mastercard o American Express.{% endtrans %} 
                                                    </form>

                                                    

                                                
                                                    <script src="{{asset('/bundles/app/js/button.js')}}?merchant={{merchant_id}}"
                                                    data-button="buynow"
                                                    data-name="Digital Download"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                    {#{% trans %}Paga a través de Paypal en millones de sitios web de forma segura.{% endtrans %}}#}
                                                    </script>
                                                    
                                                
                                                <form action="{{path('resumen')}}" method="POST">
                                                        <input type="hidden" name="itemId" value="{{item.id}}">
                                                        <input type="hidden" name="tipoPago" value="oxxo">
                                                        <input type="hidden" name="gclid" value="{{gclid}}">
                                                        <button type="submit" class="btn-primary">{% trans %}Generar Ficha de Pago{% endtrans %}</button>
                                                        <img src='https://www.softwarehomework.com/oxxopay_brand.png' height="32" width="97" />
                                                        <br>
                                                        {% trans %}Puedes pagar rápida y comodamente en cualquier Oxxo las 24 horas del día.{% endtrans %}                                                        
                                                    </form>

                                             {% else %}

                                             <p>{% trans %}Elige tu forma de pago:{% endtrans %}</p>

                                            {# <div class="col-md-12 m-t-5"> #}
                                                {# <div class="row"> #}
                                                 {#  
                                                    <form action="{{path('resumen')}}" method="POST">
                                                        <input type="hidden" name="itemId" value="{{item.id}}">
                                                        <input type="hidden" name="tipoPago" value="tarjeta">
                                                        <button type="submit" class="btn-primary">{% trans %}Pagar Ahora{% endtrans %}</button>
                                                        <img src='https://www.softwarehomework.com/images/marcas.png' height="32" width="97" />
                                                        
                                                    </form>

                                                    #}

<div>                                                                                                                                               
                                                <script src="{{asset('/bundles/app/js/button.js')}}?merchant=79N7TZ5N9MQAA"
                                                    data-button="buynow"
                                                    data-name="Digital Download"
                                                    data-amount="{{item.price}}"
                                                    data-currency="{{item.code}}"
                                                    data-size="small"
                                                    data-noshipping= 1
                                                    data-return="{{url('ok')}}"
                                                    data-cancel_return="{{url('return_url',{"product":item.id})}}"
                                                    data-currency_code="{{item.code|upper}}"
                                                    data-locale="{{item.language}}"
                                                    data-type="form"
                                                    async>
                                                </script>
                                              </div>

                                       
                                                {# </div> #}
                                            {# </div> #}
                                                                                             
                                           
                                            {% endif %}
                                            <div class="clear"></div>
                                        </div>
                                        <div class="woocommerce-tabs wc-tabs-wrapper">
                                            {% if item.featured == true %}
                                                <ul class="tabs wc-tabs">
                                                    <li class="description_tab">
                                                        <a href="#tab-description">{% trans %}Descripción{% endtrans %}</a>
                                                    </li>
                                                </ul>
                                            {% endif %}
                                            {% if item.featured == true %}
                                                <div class="panel entry-content wc-tab" id="tab-description">
                                                    <h2>{% trans %}Descripción del producto:{% endtrans %}</h2>
                                                    {{item.description|raw}}
                                                </div>
                                            {% endif %}
                                            {% if item.featured == true %}
                                                <div class="related products visible-dk">
                                                    <h2>{% trans %}Otros productos{% endtrans %}</h2>
                                                    <ul class="products">
                                                        {% for prel in rel %}
                                                            {% if prel.slug != item.slug  %}
                                                                <li class="post-1930 product type-product status-publish has-post-thumbnail product_cat-cpus product_tag-branding product_tag-consulting product_tag-customer-service product_tag-ethics shipping-taxable purchasable product-type-simple product-cat-cpus product-tag-branding product-tag-consulting product-tag-customer-service product-tag-ethics instock">
                                                                    <div class="cherry-thumb-wrap">
                                                                        <div style="background-image: url({{img_default}});width: 300px; height: 300px; background-repeat: no-repeat; background-size: contain; background-position: center center;"></div>
                                                                        <div class="p-cat-c-ot">
                                                                            <div style="background-image: url({{prel.category.cover|vlabs_media('default')}});width:70px;height:70px;background-size: contain;background-repeat: no-repeat;"></div>
                                                                        </div>
                                                                    </div>
                                                                    <h3>{{prel.name}}</h3>
                                                                    <span class="price">
                                                                        <span class="amount">{{prel.priceFormated}}</span>
                                                                    </span>
                                                                    <form action="{{path('producto')}}" method="POST">
                                                                        <input type="hidden" name="idd" value="{{prel.id}}">
                                                                        <input type="submit" name="send"  value="{% trans %}Compra ahora!{% endtrans %}" style="width: 100%;margin-top: 5%;">
                                                                    </form>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}                                                
                                            {% if item.featured == true %}
                                                <div class="woocommerce visible-mb">
                                                    <h2>{% trans %}Otros productos{% endtrans %}</h2>
                                                    <div class="cherry_wc_product_carousel " data-params='{"items":4, "itemsDesktop":[1199,4], "itemsDesktopSmall":[979,3], "itemsTablet":[768,2], "itemsMobile":[479,1], "navigation":true, "navigationText":["",""], "pagination":false}'>
                                                        <ul class="products owl-carousel prel-mb">
                                                            {% for item in rel %}
                                                                <li class="first post-1958 product type-product status-publish has-post-thumbnail product_cat-cpus product_cat-motherboards product_tag-branding product_tag-consulting product_tag-customer-service product_tag-ethics shipping-taxable purchasable product-type-simple product-cat-cpus product-cat-motherboards product-tag-branding product-tag-consulting product-tag-customer-service product-tag-ethics instock">
                                                                    <div class="cherry-thumb-wrap">
                                                                        {% image '@AppBundle/Resources/public/img/prod-default.png' %}
                                                                        <div class="producto-default" style="background-image: url({{ asset_url }});"></div>
                                                                        {% endimage %}
                                                                    </div>
                                                                    <h3>{{item.name}}</h3>
                                                                    <div class="category-slg-c">
                                                                        <div class="category-logo" style="background-image: url({{item.category.cover|vlabs_media('default')}});"></div>
                                                                    </div>
                                                                    <span class="price">
                                                                        <span class="amount">{{item.priceFormated}}</span>
                                                                    </span>
                                                                    <div class="product-list-buttons" style="width: 100%;">
                                                                        <form action="{{path('producto')}}" method="POST">
                                                                            <input type="hidden" name="idd" value="{{item.id}}">
                                                                            <input type="submit" name="send"  value="{% trans %}Compra ahora!{% endtrans %}" style="width: 100%;margin-top: 5%;">
                                                                        </form>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# FIN DEL BODY #}
                    {% endblock %}
                    {% block footer %}
                        {% if item.featured == false %}
                             {% include 'AppBundle:layout:footer2.html.twig' %}
                        {% else %}
                            {{parent()}}
                        {% endif %}

                    {% endblock %}
                    {% block header %}
                        {% if item.featured == false %}
                            {% include 'AppBundle:layout:header2.html.twig' %}
                        {% else %}
                            {{parent()}}
                        {% endif %}
                    {% endblock %}

                    {% block title %}
                        {% if item.featured == false %}
                            Geopositioning Services
                        {% else %}
                            {{parent()}}
                        {% endif %}
                    {% endblock %}