{% extends 'base.html.twig' %}

{% block body %}
<link rel='stylesheet' id='cherry_woocommerce_style-css' href='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/cherry-woocommerce-package/assets/css/style.css?ver=1.2.0' type='text/css' media='all'/>
<link rel='stylesheet' id='theme57763-css' href='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/theme57763/main-style.css' type='text/css' media='all'/>

<div class="span6" data-motopress-type="static" data-motopress-static-file="static/static-nav.php">
 
<nav class="nav nav__primary clearfix">
<ul id="topnav" class="sf-menu"><li id="menu-item-2246" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-203 current_page_item"><a href="https://livedemo00.template-help.com/woocommerce_57763/">Home</a></li>
<li id="menu-item-2248" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="https://livedemo00.template-help.com/woocommerce_57763/about/">About</a>
<ul class="sub-menu">
<li id="menu-item-2249" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/woocommerce_57763/about/testi/">Testimonials</a></li>
<li id="menu-item-2244" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/woocommerce_57763/about/faqs/">FAQs</a></li>
</ul>
</li>
<li id="menu-item-2247" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="https://livedemo00.template-help.com/woocommerce_57763/portfolio/">Portfolio</a>
<ul class="sub-menu">
<li id="menu-item-2252" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/woocommerce_57763/portfolio/portfolio-2/">Portfolio 2</a></li>
<li id="menu-item-2251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="https://livedemo00.template-help.com/woocommerce_57763/portfolio/portfolio-3/">Portfolio 3</a>
<ul class="sub-menu">
<li id="menu-item-2260" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/woocommerce_57763/portfolio/portfolio-3/category-1/">Category 1</a></li>
<li id="menu-item-2259" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/woocommerce_57763/portfolio/portfolio-3/category-2/">Category 2</a></li>
<li id="menu-item-2258" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/woocommerce_57763/portfolio/portfolio-3/category-3/">Category 3</a></li>
</ul>
</li>
<li id="menu-item-2250" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/woocommerce_57763/portfolio/portfolio-4/">Portfolio 4</a></li>
</ul>
</li>
<li id="menu-item-2261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="https://livedemo00.template-help.com/woocommerce_57763/shop/">Store</a>
<ul class="sub-menu">
<li id="menu-item-2265" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat"><a href="https://livedemo00.template-help.com/woocommerce_57763/product-category/software/">Software</a></li>
<li id="menu-item-2262" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat"><a href="https://livedemo00.template-help.com/woocommerce_57763/product-category/cpus/">CPUs</a></li>
<li id="menu-item-2266" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat"><a href="https://livedemo00.template-help.com/woocommerce_57763/product-category/cddvd-drives/">CD/DVD drives</a></li>
<li id="menu-item-2263" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat"><a href="https://livedemo00.template-help.com/woocommerce_57763/product-category/motherboards/">Motherboards</a></li>
<li id="menu-item-2264" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat"><a href="https://livedemo00.template-help.com/woocommerce_57763/product-category/hard-drives/">Hard drives</a></li>
</ul>
</li>
<li id="menu-item-2245" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/woocommerce_57763/blog/">Blog</a></li>
<li id="menu-item-2243" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/woocommerce_57763/contacts/">Contacts</a></li>
</ul></nav>  </div>

<div class="container-fluid">
    <div class="row bg-cat">
        <div class="container">
            <div class="col-md-12" style="z-index: 9999;">
                {% for product in pr %}            
                <h1 class="text-center light">{{product.name}}</h1>
                <h2 class="text-center orange">${{product.price}}</h2>
                <div class="col-md-6 col-md-offset-3 text-container-c">
                    <img src="{{product.image|vlabs_media('default')}}" alt="{{product.name}}" class="img-responsive img-center" />
                </div>
                <div class="clearfix"></div>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="text-center m-t-5">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="VXLZ4PH9B6WDJ">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
                <p class="text-center light m-t-5">{{product.description}}</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        // Init navigation menu
        jQuery(function(){
        // main navigation init
            jQuery('ul.sf-menu').superfish({
                delay: 1000, // the delay in milliseconds that the mouse can remain outside a sub-menu without it closing
                animation: {
                    opacity: "show",
                    height: "show"
                }, // used to animate the sub-menu open
                speed: "normal", // animation speed
                autoArrows: false, // generation of arrow mark-up (for submenu)
                disableHI: true // to disable hoverIntent detection
            });

        //Zoom fix
        //IPad/IPhone
            var viewportmeta = document.querySelector && document.querySelector('meta[name="viewport"]'),
                ua = navigator.userAgent,
                gestureStart = function () {
                    viewportmeta.content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0";
                },
                scaleFix = function () {
                    if (viewportmeta && /iPhone|iPad/.test(ua) && !/Opera Mini/.test(ua)) {
                        viewportmeta.content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
                        document.addEventListener("gesturestart", gestureStart, false);
                    }
                };
            scaleFix();
        })
    </script>
{% endblock %}