{% extends 'base.html.twig' %}

{% block body %}

{% include 'AppBundle:layout:header.html.twig' %}

<div id="parallax-slider-58e771280f371" class="parallax-slider"><ul class="baseList"><li data-preview="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/12/slide_01.png" data-thumb-url="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/12/slide_01-100x50.png" data-ulr-link=""></div>

    {# INICIO DEL BODY #}

<div class="row">
    <div class="row bg-cat">
        <div class="container">
            <div class="col-md-12" style="z-index: 9999;">
                {% for product in pr %}            
                <h1 class="text-center light">{{product.name}}</h1>
                <h2 class="text-center orange">${{product.price}}</h2>
                <div class="col-md-6 col-md-offset-3 text-container-c">
                    <img src="{{product.image|vlabs_media('default')}}" alt="{{product.name}}" class="img-responsive img-center" />
                </div>
                <div class="clearfix"></div>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="text-center m-t-5">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="VXLZ4PH9B6WDJ">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
                <p class="text-center light m-t-5">{{product.description}}</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

    {# FIN DEL BODY #}

{% include 'AppBundle:layout:footer.html.twig' %}


{% endblock %}