<head>
    {% include 'AppBundle:layout:assets.html.twig' %}

    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '3370052673028671');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=3370052673028671&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</head>
<body class="home page page-id-203 page-template page-template-page-home page-template-page-home-php has_woocommerce has_shop olrk-live-chat">
    <div id="motopress-main" class="main-holder">
        <header class="motopress-wrapper header">
            <div class="container">
                <div class="row" id="line-left">
                    <div class="span12">
                        <div class="row int-row">
                            <div class="span12 header-content">
                                <div class="row">
                                    <div class="span3" data-motopress-type="static">
                                        <div class="logo pull-left">
                                                <a href="{{path('homepage')}}" class="logo_h logo_h__img">
                                                    {% image '@AppBundle/Resources/public/img/logo.png' %}
                                                    <img src="{{ asset_url }}" alt="" class='img-responsive m-a' />
                                                    {% endimage %}
                                                </a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="burguer-menu burguer-off" id="burguer">
                                            <i class="fa fa-bars" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                    <div id="effect">
                                        <ul class="menu-mb-c">
                                               <li class="current-menu-item page_item page-item-203 current_page_item">
                                                    <a href="{{path('how')}}">Como funciona</a>
                                                </li>
                                                <li class="current-menu-item page_item page-item-203 current_page_item">
                                                    <a href="{{path('all')}}">Todos los productos</a>
                                                </li>
                                                <li class="current-menu-item page_item page-item-203 current_page_item">
                                                    <a href="{{path('faqs')}}">FAQS</a>
                                                </li>
                                                <li class="current-menu-item page_item page-item-203 current_page_item">
                                                    <a href="{{path('terms')}}">Términos</a>
                                                </li>
                                            </ul>
                                    </div>

                                    <div class="span9 span-menu-container">
                                        <nav class="nav nav__primary clearfix">
                                            <ul class="sf-menu sf-js-enabled">
                                               <li class="current-menu-item page_item page-item-203 current_page_item">
                                                    <a href="{{path('how')}}">Como funciona</a>
                                                </li>
                                                <li class="current-menu-item page_item page-item-203 current_page_item">
                                                    <a href="{{path('all')}}">Todos los productos</a>
                                                </li>
                                                <li class="current-menu-item page_item page-item-203 current_page_item">
                                                    <a href="{{path('faqs')}}">FAQS</a>
                                                </li>
                                                <li class="current-menu-item page_item page-item-203 current_page_item">
                                                    <a href="{{path('terms')}}">Términos</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>